
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>
        
    GitHub Statistics

    </title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">

    <link rel="stylesheet" href="https://bootswatch.com/5/minty/bootstrap.min.css" />
    <link href="/static/css/signinform.css" rel="stylesheet">
    <link href="/static/css/custom.css" rel="stylesheet">

  </head>

<body>

<nav class="navbar navbar-expand-md shadow-sm ">
    <div class="container ">
        <a class="navbar-brand" href="/">Home</a>
        <a class="navbar-brand" href="/">All Repos</a>
        <a class="navbar-brand" href="/">Repo size</a>
        <button class="navbar-toggler navbar-toggler-right" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon">
                ☰
            </span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto">
                
            </ul>
            <ul class="navbar-nav ms-auto">

                
                    <li class="nav-item">
                        <a class="nav-link" href="/account/login/">Log In</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/account/signup/">Sign up</a>
                    </li>
                
            </ul>

        </div>
    </nav>
</div>



    <div class="bg-success text-light mb-5 pt-3 pb-3 shadow">
        <div class="container">
            <h1 class="text-light">GitHub Statistics</h1>
            <p>Welcome to <em>GitHub Statistics!</em></p>
            <p>
                <a class="btn btn-lg btn-secondary" href="/account/signup/">All Repos</a>
                 <a class="btn btn-lg btn-secondary" href="/account/signup/"> Repo Size</a>
                 <a class="btn btn-lg btn-secondary" href="/account/signup/"> Languges Used</a>
               
            </p>
        </div>
    </div>



    <div class="container pt-3">
    

        <h2>put stuff her</h2>


      </div>
       

</body>
</html>







